<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your GIS Platform</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="./bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- <link rel="nofollow" href="https://justpaste.it/redirect/g1csd/https%3A%2F%2Ffonts.gstatic.com" crossorigin>
    <link href="https://justpaste.it/redirect/g1csd/https%3A%2F%2Ffonts.googleapis.com%2Fcss2%3Ffamily%3DOpen%2BSans%3Awght%40400%3B500%26amp%3Bfamily%3DRoboto%3Awght%40500%3B700%3B900%26amp%3Bdisplay%3Dswap" rel="nofollow">  -->

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

</head>

<body>


    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark" style="position: fixed;">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a href="/"
                        class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline">Menu</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
                        id="menu">
                        <li class="nav-item">
                            <a href="#" class="nav-link text-white text-white align-middle px-0">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link text-white px-0 align-middle">
                                <i class="fs-4 bi-speedometer2"></i> <span
                                    class="ms-1 d-none d-sm-inline">Dashboard</span> </a>

                        </li>
                        <li>
                            <a href="#" class="nav-link text-white px-0 align-middle">
                                <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Upload
                                    Files</span></a>
                        </li>
                        <li>
                            <a href="#submenu2" data-bs-toggle="collapse"
                                class="nav-link text-white px-0 align-middle ">
                                <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Data
                                    Requests</span></a>

                        </li>

                        <li>
                            <a href="#" class="nav-link text-white px-0 align-middle">
                                <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Messages</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-white px-0 align-middle">
                                <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Messages</span>
                            </a>
                        </li>
                    </ul>
                    <hr>

                </div>
            </div>

            

            {{!--  --}}


            </div>
    </div>
    </div>
</body>