<!DOCTYPE html>
<html lang="en">
    <head>
        {{>head}}
  

    </head>
<body>

    {{>homeNav}}


    <!-- Hero section Starts -->
    <section class="hero">
        <div class="hero-content">
            <h1 class="text-white">Empowering You with Assam GIS Explorer</h1>
            <p>Discover, analyze, and visualize spatial data effortlessly.</p>
            <a href="#" class="btn btn-primary rounded-pill py-3 px-5 mt-3">Explore</a>
        </div>
        <video autoplay muted loop poster="video-placeholder.jpg" id="bg-video">
            <source src="./image/2695085-hd_1920_1080_30fps.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

    </section>
    <!-- Hero section ends -->


    <!-- stats section Starts -->

    <div class="col-lg-12 p-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="row g-4">
            <div class="col-sm-4">
                <div class="border-start border-dark ps-4">
                    <h2 class="text-black mb-1" data-toggle="counter-up">123</h2>
                    <p class="text-dark mb-0">Total Visits</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="border-start border-dark ps-4">
                    <h2 class="text-black mb-1" data-toggle="counter-up">1234</h2>
                    <p class="text-dark mb-0">Registered Users</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="border-start border-dark ps-4">
                    <h2 class="text-black mb-1" data-toggle="counter-up">12345</h2>
                    <p class="text-dark mb-0">Data Available</p>
                </div>
            </div>
        </div>
    </div>
    <!-- stats section Starts -->




    <!-- About Start -->
    <div class="container-xxl py-5" id="about">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="d-flex flex-column">
                        <img class="img-fluid rounded w-75 align-self-end" src="./image/mapp.jpg" alt="">
                        <img class="img-fluid rounded w-50 bg-white pt-3 pe-3" src="./image/osmmapimg.png" alt=""
                            style="margin-top: -25%;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <p class="d-inline-block border rounded-pill py-1 px-4">About Us</p>
                    <h1 class="mb-4">Assam GIS Explorer? Get Know About It!</h1>
                    <p>The Assam GIS Explorer project is a comprehensive web-based application designed to visualize and
                        interact with geospatial data related to the Assam region. </p>
                    <p class="mb-4">This project aims to provide a user-friendly interface for exploring various layers
                        of geographical information, enabling users to perform tasks such as visualization, measurement,
                        geocoding, and data manipulation.
                    </p>
                    <p><i class="far fa-check-circle text-primary me-3"></i>Interactive Mapping</p>
                    <p><i class="far fa-check-circle text-primary me-3"></i>Data Visualization</p>
                    <p><i class="far fa-check-circle text-primary me-3"></i>Data Sharing </p>
                    <a class="btn btn-primary rounded-pill py-3 px-5 mt-3" href="">Explore</a>
                </div>
            </div>
        </div>
    </div>



    <!-- Service Start -->
    <div class="container-xxl py-5" id="service">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <p class="d-inline-block border rounded-pill py-1 px-4">Services</p>
                <h1>Our Geospatial Services</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
                            style="width: 65px; height: 65px;">
                            <i class="bi bi-eye text-primary fs-4"></i>
                        </div>
                        <h4 class="mb-3">Visualization </h4>
                        <p class="mb-4">Explore layers like state, district, and village boundaries, water bodies,
                            forests, roads, railways.
                            Draw shapes (points, lines, polygons, freehand) for customization and analysis.</p>

                        <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i>Read More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
                            style="width: 65px; height: 65px;">
                            <i class="bi bi-rulers text-primary fs-4"></i>
                        </div>
                        <h4 class="mb-3">Measurement and Analysis</h4>
                        <p class="mb-4">Measure distances between points or along lines and calculate the area in square
                            kilometers of drawn features for spatial analysis and planning.
                        </p>
                        <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i>Read More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
                            style="width: 65px; height: 65px;">
                            <i class="bi bi-search text-primary fs-4"></i>
                        </div>
                        <h4 class="mb-6">Search and Location</h4>
                        <p class="mb-4">Utilize a geocode locator to search for specific places, enhancing navigation
                            and exploration efficiency.
                            Drop pins on provided longitude and latitude coordinates, facilitating precise location
                            marking on the map.</p>
                        <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i>Read More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
                            style="width: 65px; height: 65px;">
                            <i class="bi bi-globe-americas text-primary fs-4"></i>
                        </div>
                        <h4 class="mb-3">Data Import & Export</h4>
                        <p class="mb-4">Upload vector or raster layers (GeoJSON, CSV, .zip shape files).
                            Drag and drop GeoJSON files for quick visualization.</p>
                        <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i>Read More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
                            style="width: 65px; height: 65px;">
                            <i class="bi bi-stack text-primary fs-4"></i>
                        </div>
                        <h4 class="mb-3">Layer Management</h4>
                        <p class="mb-4">Crop layers to display only relevant areas of interest, optimizing map clarity
                            and focus.
                            Access a variety of base layers including Open Street Map, Satellite, Standard Map, and
                            Transport Map to tailor visualization according to requirements.</p>
                        <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i>Read More</a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
                            style="width: 65px; height: 65px;">
                            <i class="bi bi-download text-primary fs-4"></i>
                        </div>
                        <h4 class="mb-3">Layer Download:</h4>
                        <p class="mb-4"> Access available layer files from the catalog, subject to proper
                            authentication. Admin approval is required for downloading, ensuring data security and
                            integrity.</p>
                        <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i>Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- Cataloge Start -->
    <div class="container-fluid bg-light overflow-hidden my-5 px-lg-0" id="catalog">
        <div class="container feature px-lg-0">
            <div class="row g-0 mx-lg-0">
                <div class="col-lg-6 feature-text py-5 wow fadeIn" data-wow-delay="0.1s">
                    <div class="p-lg-5 ps-lg-0">
                        <p class="d-inline-block border rounded-pill text-black py-1 px-4">Catalog</p>
                        <h1 class="text-black mb-4">GeoSapatial Data Catalog</h1>
                        <p class="text-black mb-4 pb-2">Welcome to our geospatial catalogue page, where you can browse
                            through a rich collection of geospatial data covering various themes and regions. Whether
                            you're a researcher, planner, or developer, our catalogue offers a diverse range of datasets
                            to support your projects and analyses.

                            Browse through our comprehensive selection of geospatial data, including satellite imagery,
                            aerial photos, topographic maps, land use data, and much more. Each dataset is carefully
                            curated and organized to ensure easy navigation and discovery.</p>
                        <div class="row g-4">
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light"
                                        style="width: 55px; height: 55px;">
                                        <i class="fa fa-user-md text-primary"></i>
                                    </div>
                                    <div class="ms-4">
                                        <p class="text-black mb-2">Data</p>
                                        <h5 class="text-black mb-0">View</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light"
                                        style="width: 55px; height: 55px;">
                                        <i class="fa fa-check text-primary"></i>
                                    </div>
                                    <div class="ms-4">
                                        <p class="text-black mb-2">Data</p>
                                        <h5 class="text-black mb-0">Request</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light"
                                        style="width: 55px; height: 55px;">
                                        <i class="fa fa-comment-medical text-primary"></i>
                                    </div>
                                    <div class="ms-4">
                                        <p class="text-black mb-2">Data</p>
                                        <h5 class="text-black mb-0">Download</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light"
                                        style="width: 55px; height: 55px;">
                                        <i class="fa fa-comment-medical text-primary"></i>
                                    </div>
                                    <div class="ms-4">
                                        <p class="text-black mb-2">Data</p>
                                        <h5 class="text-black mb-0">analyze</h5>
                                    </div>

                                </div>
                            </div>
                            <div class="ms-4 ">
                                <h5>
                                    <a class="btn btn-primary rounded-pill py-3 px-5 mt-3 " href="catalog"> View
                                        Catalog</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 pe-lg-0 wow fadeIn" data-wow-delay="0.5s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute img-fluid w-100 h-100" src="./image/mapp.jpg" style="object-fit: cover;"
                            alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cataloge End -->

    <!-- Contact Start -->
    <div class="container-xxl py-5" id="contact">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <p class="d-inline-block border rounded-pill py-1 px-4">Contact</p>
                    <h1 class="mb-4">We’re Here to Help You</h1>
                    <p class="mb-4">Have questions or need assistance with a mapping project? Reach out to us, and let’s
                        work together to bring your geospatial ideas to life.
                    </p>
                    <div class="bg-light rounded d-flex align-items-center p-5 mb-4">
                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white"
                            style="width: 55px; height: 55px;">
                            <i class="fa fa-phone-alt text-primary"></i>
                        </div>
                        <div class="ms-4">
                            <p class="mb-2">Call Us Now</p>
                            <h5 class="mb-0">069138 48401</h5>
                        </div>
                    </div>
                    <div class="bg-light rounded d-flex align-items-center p-5">
                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white"
                            style="width: 55px; height: 55px;">
                            <i class="fa fa-envelope-open text-primary"></i>
                        </div>
                        <div class="ms-4">
                            <p class="mb-2">Mail Us Now</p>
                            <h5 class="mb-0">dirassac2021@gmail.com</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="bg-light rounded h-100 d-flex align-items-center p-5">
                        <form>
                            <div class="row g-3">
                                <div class="col-12 col-sm-6">
                                    <input type="text" class="form-control border-0" placeholder="Your Name"
                                        style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="email" class="form-control border-0" placeholder="Your Email"
                                        style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="text" class="form-control border-0" placeholder="Your Mobile"
                                        style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <select class="form-select border-0" style="height: 55px;">
                                        <option selected>Choose Occupation</option>
                                        <option value="1">Researcher</option>
                                        <option value="2">Student</option>
                                        <option value="3">Goverment Employee</option>
                                        <option value="2">Private Employee</option>

                                    </select>
                                </div>

                                <div class="col-12 ">

                                    <textarea class="form-control border-0" placeholder="Reason For Contact"></textarea>

                                </div>
                                <div class="col-12">
                                    <textarea class="form-control border-0" rows="5"
                                        placeholder="Describe your Message"></textarea>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Drop Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->

    {{>homeFooter}}


    <script src="script.js"></script>
</body>

</html>