<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 wow fadeIn" data-wow-delay="0.1s">
        <div class=" " id="">
            <div class=" ">
                <a href="/" class="nav-item nav-link active"><span class="material-symbols-outlined">
                        arrow_back
                    </span></a>


            </div>

        </div>

        <a href="index.html" class="navbar-brand d-flex align-items-center px-1 px-lg-1">
            <a href="#" class="navbar-brand">
                <img src="./image/fav.png" alt="Icon" width="60" height="60" class="d-inline-block align-top">
            </a>
        </a>
        <h4 class="m-0 text-black"> Assam GIS Explorer</h4>
        
    </nav>
